<app-header></app-header>
<div class="container-fluid createReviewDiv">
    <h3 class="createReviewHeading">Create Review</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 employee-heading">
            <h4><strong>Employee</strong></h4>
        </div>
    </div>
    <form>
        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">CGI Code:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #cgiCode class="form-control input-medium" id="cgiCodeField" value="" maxlength="6"
                #input (input)="input.value=$event.target.value.toUpperCase()">
            </div>
            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">First Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #firstName class="form-control input-medium" id="firstNameField" value="" readonly >
            </div>
        </div>
        
        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">Designation:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #designation class="form-control input-medium" id="designationField" value="" readonly >
            </div>

            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">Last Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #lastName class="form-control input-medium" id="lastNameField" value="" readonly >
            </div>
        </div>

        <div class="row form-and-cycle">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">Form Name:</label>
            <div class="col-lg-3 col-md-3 col-sm-9 col-xs-12">
                <input type="text" #email class="form-control input-medium" id="emailField" value="">
            </div>
            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">Cycle</label>
            <div class="col-lg-3 col-md-3 col-sm-9 col-xs-12">
                <input type="text" #email class="form-control input-medium" id="emailField" value="">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 employee-heading">
                <h4><strong>Reviewer</strong></h4>
            </div>
        </div>

        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">CGI Code:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #cgiCode class="form-control input-medium" id="cgiCodeField" value="" maxlength="6"
                >
            </div>
            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">First Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #firstName class="form-control input-medium" id="firstNameField" value="" readonly >
            </div>
        </div>
        
        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">Designation:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #designation class="form-control input-medium" id="designationField" value="" readonly >
            </div>

            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">Last Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #lastName class="form-control input-medium" id="lastNameField" value="" readonly >
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-lg-3 col-lg-offset-1 col-md-offset-2 col-md-2 col-sm-3 col-xs-12 employee-heading">
                <h4><strong>QAer</strong></h4>
            </div>
        </div>

        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">CGI Code:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #cgiCode class="form-control input-medium" id="cgiCodeField" value="" maxlength="6"
                >
            </div>
            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">First Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #firstName class="form-control input-medium" id="firstNameField" value="" readonly >
            </div>
        </div>
        
        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">Designation:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #designation class="form-control input-medium" id="designationField" value="" readonly >
            </div>

            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">Last Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #lastName class="form-control input-medium" id="lastNameField" value="" readonly >
            </div>
        </div>        
    
        <div class="row">
            <div class="col-lg-3 col-lg-offset-5 col-md-2 col-sm-9 col-xs-12">
                <button type="button" class="btn btn-success" (click)="createReview()"> Create </button>
            </div>
        </div>
    </form>
</div>
