.createReviewDiv{
    font-family:Roboto;
}
.form-and-cycle{
    padding-top: 2rem;
}
.btn-info:hover{
    background-color: #000062; 
}
.btn-info{
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: #000062; 
    width: 20rem;
}
.btn-info:active{
    background-color: #000062; 
}
.createReviewHeading{
    margin: 0;
    padding: 0;
    text-align: center;
}
.row{
    margin-bottom: 0.5rem;
}
h4{
    
    color: #000062;
    font-family: Roboto sans-serif;
}
h4 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(201, 199, 199); 
    line-height: 0.1em;
    margin: 3rem 13rem 2rem; 
 } 
 h4 strong{
    background:#fff; 
    padding:0 10px;}