<!-- The Modal 1-->
<div class="modal" id="saveModel" *ngIf="message === null ? false : true" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
  
        <!-- Modal body -->
        <div class="myFont">
            <i class="fa fa-check-circle " ></i>
        </div>

        <!-- Modal Header -->
        <div >
            <h1 class="heading" align="center">Review Created</h1>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
  
        <!-- Modal footer -->
        <div >
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
        </div>
  
      </div>
    </div>
  </div>

  <!-- The Modal 2-->
<div class="modal" id="submitReviewModel" >
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal body -->
          <div class="myFont2">
              <img src="https://media.tenor.com/images/771577ac99bc46709e85e2f8ad5376ea/tenor.gif" class="modal-image-1">
              <button type="button" class="close" data-dismiss="modal" >&times;</button>
          </div>
  
          <!-- Modal Header -->
          <div >
              <h1 class="heading" align="center">Review created!</h1>
          </div>
    
        </div>
    </div>
</div>


  <!-- The Modal 3-->
  <div class="modal" id="submitModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header">
            <img src="https://art.pixilart.com/646ef9826588f84.gif" class="modal-title modal-image-2">
            <button type="button" class="close" data-dismiss="modal" >&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body text-center">
            Are you sure you want to create a new review?
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger button1" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#submitReviewModel" 
            data-dismiss="modal" (click)="createUser()">Create</button>
          </div>
      
        </div>
      </div>
  </div>

<div class="container-fluid createReviewDiv">
    <!-- <h3 class="createReviewHeading">Create Review</h3> -->
    <div class="row">
        <h4><strong>Employee</strong></h4>
        <!-- <div class="col-lg-12 col-lg-offset-5 col-md-2 col-sm-3 col-xs-12 employee-heading">
            <h4><strong>Employee</strong></h4>
        </div> -->
    </div>
    <form>
        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">CGI Code:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #empCgiCode class="form-control input-medium" id="empCgiCodeField" value={{inputValue}} maxlength="6"
                (input)="empCgiCode.value=$event.target.value.toUpperCase()">
            </div>
            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">First Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #empFirstName class="form-control input-medium" id="empFirstNameField" value={{inputValue}} maxlength="20" required="required" readonly >
            </div>
        </div>
        
        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">Designation:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #empDesignation class="form-control input-medium" id="empDesignationField" value={{inputValue}} maxlength="40" readonly >
            </div>

            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">Last Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #empLastName class="form-control input-medium" id="empLastNameField" value={{inputValue}} maxlength="20" readonly >
            </div>
        </div>

        <div class="row form-and-cycle">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">Form Name:</label>
            <div class="col-lg-3 col-md-3 col-sm-9 col-xs-12 styled-select-designation">
                <select id="formName" name="deisgnations">
                    <option value="">---select a designation---</option>
                    <option value="Intern">Intern</option>
                    <option value="Consultant 1">Consultant 1</option>
                    <option value="Consultant 2">Consultant 2</option>
                    <option value="Associate 1">Associate 1</option>
                    <option value="Consultant 2">Associate 2</option>
                    <option value="Associate 1">Manager 1</option>
                    <option value="Consultant 2">Manager 2</option>
                    <option value="Associate 1">Principle 1</option>
                    <option value="Associate 1">Principle 2</option>
                </select>   
            </div>
            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label" >Cycle</label>
            <div class="col-lg-3 col-md-3 col-sm-9 col-xs-12">
                <input type="text" #cycle class="form-control input-medium" id="cycleField" 
                value={{inputValue}} maxlength="20">
            </div>
        </div>
        
        <div class="row">
            <h4><strong>Reviewer</strong></h4>
        </div>

        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">CGI Code:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #reviewerCgiCode class="form-control input-medium" id="reviewerCgiCodeField" value={{inputValue}} maxlength="6"
                (input)="reviewerCgiCode.value=$event.target.value.toUpperCase()">
            </div>
            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">First Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #reviewerFirstName class="form-control input-medium" id="reviewerFirstNameField" value={{inputValue}}  maxlength="20" required="required" readonly >
            </div>
        </div>
        
        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">Designation:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #reviewerDesignation class="form-control input-medium" id="reviewerDesignationField" value={{inputValue}} maxlength="40" readonly >
            </div>

            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">Last Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #reviewerLastName class="form-control input-medium" id="reviewerLastNameField" value={{inputValue}} maxlength="20" readonly >
            </div>
        </div>

        <div class="row">
            <h4><strong>QAer</strong></h4>
            <!-- <div class="col-lg-12 col-lg-offset-5 col-md-offset-2 col-md-2 col-sm-3 col-xs-12 employee-heading">
                <h4><strong>QAer</strong></h4>
            </div> -->
        </div>

        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">CGI Code:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #qaerCgiCode class="form-control input-medium" id="qaerCgiCodeField" value={{inputValue}} maxlength="6"
                (input)="qaerCgiCode.value=$event.target.value.toUpperCase()">
            </div>
            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">First Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #qaerFirstName class="form-control input-medium" id="qaerFirstNameField" value= {{inputValue}}  maxlength="20" required="required" readonly >
            </div>
        </div>
        
        <div class="row">
            <label class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-3 col-xs-12 control-label">Designation:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #qaerDesignation class="form-control input-medium" id="qaerDesignationField" value={{inputValue}} maxlength="40" readonly >
            </div>

            <label class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-12 control-label">Last Name:</label>
            <div class="col-md-3 col-sm-9 col-xs-12">
                <input type="text" #qaerLastName class="form-control input-medium" id="qaerLastNameField" value={{inputValue}} maxlength="20" readonly >
            </div>
        </div>        
        <br>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-5 col-md-offset-3 col-sm-offset-4 col-md-3 col-sm-2 col-xs-12">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitModel"> Create Review </button>

            </div>
        </div>
    </form>
</div>
