// .createReviewDiv{
//     margin: 4rem 5rem;
// }
.form-and-cycle{
    padding: 2rem 0;
}
.btn-success:hover{
    background-color: #000062; 
}
.btn-success{
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: #000062; 
    width: 20rem;
}
.createReviewHeading{
    margin-top: 0;
   text-align: center;
}
.row{
    margin-bottom: 0.5rem;
}