.accordion{
    font-family: Roboto;
}
.card{
    background-color:#6745c2;
}

.container-fluid{
    height:200px;
    line-height: 2;
}
.btn{
    padding: 2px 0;
    color: white;
    background-color: #6745c2;
    border: none;
}
.row{
    color: white;
}
