<div class="bs-example">
    <div class="accordion" id="accordionExample">
        <div class="card"  style="border: none;">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i>Action Tab</button>                     
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                
					<div class="container-fluid" >
						<div class="row">
							<div class="col-lg-1">
								<p>{{firstName}}</p>
							</div>

							<div class="col-lg-1">
								<p>{{designation}}</p>
							</div>                                         

							<div class="dropdown col-lg-1">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Promoted</button>
								<ul class="dropdown-menu">
									<li><a href="#">Intern</a></li>
									<li><a href="#">Consultant 1</a></li>
									<li><a href="#">Consultant 2</a></li>
									<li><a href="#">Associate 1</a></li>
									<li><a href="#">Associate 2</a></li>
								</ul>
							</div>
							<div class="col-lg-2 col-lg-offset-4">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Accept/Decline</button>
								<ul class="dropdown-menu">
									<li><a href="#">ACCPET</a></li>
									<li><a href="#">DECLINE 2</a></li>
								</ul>
							</div>
							<div class="col-lg-1">
								<p>QAer Name</p>
							</div>
						</div>	
					</div>
        	</div>
    	</div>
	</div>
</div>
