main {
  padding: 1rem;
}

.navbar-nav {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link-heading{
  display: flex;
  align-self: center;
  height: 5rem;
  text-decoration: none;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
}

.nav-link:active{
  filter: none;
}

.active, .nav-link:active{
  filter: none;
}


.link-text {
  display: inline;
  margin-left: 1rem;
}

.nav-link fa-icon {
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem 0 2rem;
}

.table-div{
  margin-top: 50px;
}

.logo {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* Small screens */
@media only screen and (max-width: 900px) {
  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .link-text{
    display: none;
  }

  .nav-link {
    justify-content: space-around;
  }
}

/* Large screens */
@media only screen and (min-width: 900px) {
  .navbar {
    width: 16rem;
    height: 100vh;
  }
}