<div>
  <app-header></app-header>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-4 control-label">First Name:</label>
          <div class="col-lg-8">
            <input
              class="form-control input-sm"
              [value]="firstName"
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control input-sm" [value]="email" type="text" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Designation:</label>
          <div class="col-lg-8">
            <select
              class="form-control input-sm"
              [value]="designation"
              type="text"
            >
              <option>Consultant 1</option>
              <option>Consultant 2</option>
              <option>Associate 1</option>
              <option>Associate 2</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Total Experience:</label>
          <div class="col-lg-8">
            <input class="form-control input-sm" [value]="totalExperience" type="text" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Address:</label>
          <div class="col-md-8">
            <textarea
              class="form-control input-sm"
              [value]="location"
              type="text"
            ></textarea>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-4 control-label">Last Name:</label>
          <div class="col-lg-8">
            <input
              class="form-control input-sm"
              [value]="lastName"
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Skills:</label>
          <div class="col-lg-8">
            <input class="form-control input-sm" [value]="skills" type="text" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Division Name:</label>
          <div class="col-lg-8">
            <input
              class="form-control input-sm"
              [value]="divisionName"
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Date of Joining:</label>
          <div class="col-lg-8">
            <input class="form-control input-sm" [value]="joined" type="text" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 control-label">Resume:</label>
          <div class="col-lg-8">
            <input type="file" id="resume" />
            <p class="help-block">
              Please upload your photo in JPG format, be sure that the total
              size does not exceed 2 megabytes.
            </p>
          </div>
        </div>

        <div class="col-md-12 col-sm-12" id="addblock">
          <div class="form-group col-md-3 col-sm-3">
            <input
              type="button"
              class="btn btn-primary btn-lg"
              value="Update"
              id="update"
              style="margin-left: 390px; margin-top: 5px;"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
