#update:hover{
    background-color: #000062; 
}
#update{
    margin-top: 3rem;
    background-color: #000062 !important; 
    width: 16rem;
}

label {
    float: left;
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}
.form-control {
    width: 100%;
}


.update-profile{
	margin-top: 10rem;
}

.btn-primary:hover{
    background-color: #000062;
    transform: scale(1.05);
}
.btn-primary:focus{
    background-color: #000062; 

}
.btn-primary{
    margin-top: 3rem;
    background-color: #000062; 
    width: 16rem;
}
#profileDesignation{
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid #CCCCCC;

}
[readonly]{
    cursor:not-allowed;
}

#submitVerficationModel{
    color: #6745c2;
    font-family: Roboto;
    background-color: #6745c2;
    opacity: 0.95;
}

.modal-image-1{
    width: 6rem;
    height: 5rem;
    margin-left: 40%;
}
#updateModel{
    color: #6745c2;
    font-weight: bold;
    font-family: Roboto;
    background-color: #6745c2;
    opacity: 0.95;
}
.modal-image-2{
    width: 6rem;
    height: 6rem;
    margin-left: 45%;
}
