#update:hover{
    background-color: #000062; 
}
#update{
    margin-top: 3rem;
    background-color: #000062 !important; 
    width: 16rem;
}

label {
    float: left;
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}
.form-control {
    width: 100%;
}


.update-profile{
	margin-top: 5rem;
}

.btn-primary:hover{
    background-color: #000062; 
}
.btn-primary{
    margin-top: 3rem;
    background-color: #000062; 
    width: 16rem;
}
