#deceased{
    background-color:#FFF3F5;
	padding-top:10px;
	margin-bottom:10px;
}
.remove_field{
	float:right;	
	cursor:pointer;
	position : absolute;
}
.remove_field:hover{
	text-decoration:none;
}

label {
    float: left;
    font-size: large;
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}
.form-control {
    width: 100%;
}


.update-profile{
	margin-top: 5rem;
}
