.bg{
    background-color: #000062;
    border-radius: 0;
}

.nav-link, .user-name{
    color: #fafafa;
}

.toggler-button{
    background-color: #fafafa;
}

.user-name{
    font-weight: bold;
    font-size: larger;
    color: #fafafa;
}