
        .model{
            height: 17rem;
        }

        .myFont{
            font-size: 6rem;
            color: #6745C2;
            align-self: center;
            position: absolute;
            bottom: 9rem;
            font-family: Roboto;
        }

        .myFont2{
            font-size: 6rem;
            color: green;
            align-self: center;
            position: absolute;
            bottom: 9rem;
            font-family: Roboto;
            
        }

        .heading{
            // font-weight: bold;
            margin-top: 5rem;
            font-family: Roboto;
            
        }

        .modal-body{
            font-family: Roboto;

        }

        .modal-content{
            position: relative;
        }

        .modal-header{
            background-color: #311a91 ;
            height: 5rem;
        }

        .modal-title{
            color: white;
            font-family: Roboto;
        }

        // .close{
        //     position: absolute;
        //  top: 0rem;
        // right: 2rem;
        // }

        .button1{
            background-color:  #dc3545 !important;
        }

        .button2{
        background-color:#28a745 !important ;
        }