<style>
        table, th, td { 
            border: 1px solid white; 
            border-collapse: collapse; 
            padding: 6px; 
            background-color: #1c314d;
            color: white;

        } 
        table{
            margin: auto;
            width: 50%;
            margin-top: 5vh;
        }
        #headers{
            background-color:#1c314d;
            color:white;
        }
        textarea{
            border: hidden;
            outline: none;
            resize: none;
            color: black;
        }
        .self{
            cursor: not-allowed;
            pointer-events: none; 
        }
        button{
            background-color: #1c314d;
            color: white;
            border-radius: 10%;
            border: none;
            margin-top: 2rem;
            margin-right: 1rem;
            
        }
        select{
            color: black;
        }
        
</style> 

        
            <table >  
                <tr id="headers">  
                    <td colspan="3">
                        Key Result Area
                    </td>
                    <td colspan=5>  
                        Self Evaluation 
                    </td>
                    <td >  
                        Self Assessment  
                    </td>
                    <td colspan=5>  
                        Reviewer Evaluation 
                    </td>  
                    <td colspan=3>  
                        Reviewer Assessment  
                    </td>  
                </tr>  
                <tr> 
                    <td colspan="3">  
                        <p rows="4" cols="50" align="center">Technical Skills</p>  
                    </td> 
                    <td colspan="5">  
                        <textarea rows="4" cols="50" #rsTS class="self">{{reviewSelfTS}}</textarea>  
                    </td>                      
                     
                    <td align="center">
                           <select class="self"required>   
                                <option>{{assessmentSelfTS}}</option>     
                                <option value="satisfied">meets expectations</option>
                                <option value="needs improvement">needs improvement</option>
                           </select>
                                
                    </td>  
                    <td colspan="5">  
                        <textarea rows="4" cols="50" #rrTS>{{reviewReviewerTS}}</textarea>  
                    </td>                      
                     
                    <td align="center">
                           <select  required (change)="selectChangeHandler($event)"> 
                               <option>{{assessmentReviewerTS}}</option> 
                                <option value="meets expectations">meets expectations</option>
                                <option value="needs improvement">needs improvement</option>
                           </select>
                                
                    </td>  
                </tr> 
                
                <tr>
                    <td colspan="3">  
                        <p #review rows="4" cols="50" align="center"></p>  
                    </td>   
                    <td colspan="5">  
                        <textarea #review rows="4" cols="50"></textarea>  
                    </td>                      
                     
                    <td align="center">
                           <select #assessment required>        
                                <option value="satisfied">meets expectations</option>
                                <option value="needs improvement">needs improvement</option>
                           </select>
                                
                    </td>  
                    <td colspan="5">  
                        <textarea #review rows="4" cols="50"></textarea>  
                    </td>                      
                     
                    <td align="center">
                           <select #assessment required>        
                                <option value="satisfied">meets expectations</option>
                                <option value="needs improvement">needs improvement</option>
                           </select>
                                
                    </td>   
                </tr>
                <tr>  
                    <td colspan="3">  
                        <p #review rows="4" cols="50" align="center"></p>  
                    </td>   
                    <td colspan="5">  
                        <textarea #review rows="4" cols="50"></textarea>  
                    </td> 
                    <td align="center">
                        <select #assessment required>        
                             <option value="satisfied">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>  
                 <td colspan="5">  
                     <textarea #review rows="4" cols="50"></textarea>  
                 </td>                      
               
                 <td align="center">
                        <select #assessment required>        
                             <option value="satisfied">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>                        
                     
                    
                </tr>
                <tr> 
                    <td colspan="3">  
                        <p  rows="4" cols="50" align="center">Communication Skills</p>  
                    </td>   
                    <td colspan="5">  
                        <textarea #rsCS rows="4" cols="50" class="self">{{reviewSelfCS}}</textarea>  
                    </td> 
                    <td align="center">
                        <select class="self"required>   
                             <option>{{assessmentSelfCS}}</option>     
                             <option value="meets expectations">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>  
                 <td colspan="5">  
                     <textarea #rrCS rows="4" cols="50">{{reviewReviewerCS}}</textarea>  
                 </td>                      
               
                 <td align="center">
                        <select required (change)="selectChangeHandlerCS($event)"> 
                             <option>{{assessmentReviewerCS}}</option>       
                             <option value="meets expectations">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>    
                </tr>
                <tr>  
                    <td colspan="3">  
                        <p #review rows="4" cols="50" align="center">Personality</p>  
                    </td> 
                    <td colspan="5">  
                        <textarea  rows="4" cols="50" #rsP class="self">{{reviewSelfP}}</textarea>  
                    </td> 
                    <td align="center">
                        <select class="self"required>   
                            <option>{{assessmentSelfP}}</option>     
                             <option value="meets expectations">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>  
                 <td colspan="5">  
                     <textarea  rows="4" cols="50" #rrP>{{reviewReviewerP}}</textarea>  
                 </td>                      
               
                 <td align="center">
                        <select  required (change)="selectChangeHandlerP($event)"> 
                             <option>{{assessmentReviewerP}}</option>       
                             <option value="meets expectations">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>    
                </tr>
                </table>  
                <button (click)=updateReviewDetails()>save</button> 
                <button (click)=updateReviewDetails()>submit</button>
                <!-- <p>{{selectedAssessment}}<br>
                   {{selectedAssessmentCS}}<BR>
                   {{selectedAssessmentP}}
                   {{assessmentSelfTS}}
                </p> -->
        
      

                       
    