<style>
        table, th, td { 
            border: 1px solid black; 
            border-collapse: collapse; 
            padding: 6px; 

        } 
        table{
            margin: auto;
            width: 50%;
            margin-top: 10vh;
        }
        #headers{
            background-color: lightgray;
            color:solid black;
        }
        textarea{
            border: hidden;
            outline: none;
            resize: none;
        }
</style> 

        <!-- <form #reviewerForm> -->
            <table >  
                <tr id="headers">  
                    <td colspan="3">
                        Key Result Area
                    </td>
                    <td colspan=5>  
                        Self Evaluation 
                    </td>
                    <td >  
                        Self Assessment  
                    </td>
                    <td colspan=5>  
                        Reviewer Evaluation 
                    </td>  
                    <td colspan=3>  
                        Reviewer Assessment  
                    </td>  
                </tr>  
                <tr> 
                    <td colspan="3">  
                        <p rows="4" cols="50" align="center">Technical Skills</p>  
                    </td> 
                    <td colspan="5">  
                        <textarea rows="4" cols="50" #rsTS>{{reviewSelfTS}}</textarea>  
                    </td>                      
                     
                    <td align="center">
                           <select #assessmentSelfTS required>        
                                <option value="satisfied">meets expectations</option>
                                <option value="needs improvement">needs improvement</option>
                           </select>
                                
                    </td>  
                    <td colspan="5">  
                        <textarea rows="4" cols="50" #rrTS>{{reviewReviewerTS}}</textarea>  
                    </td>                      
                     
                    <td align="center">
                           <select #assessmentReviewerTS required>        
                                <option value="satisfied">meets expectations</option>
                                <option value="needs improvement">needs improvement</option>
                           </select>
                                
                    </td>  
                </tr> 
                
                <tr>
                    <td colspan="3">  
                        <p #review rows="4" cols="50" align="center"></p>  
                    </td>   
                    <td colspan="5">  
                        <textarea #review rows="4" cols="50"></textarea>  
                    </td>                      
                     
                    <td align="center">
                           <select #assessment required>        
                                <option value="satisfied">meets expectations</option>
                                <option value="needs improvement">needs improvement</option>
                           </select>
                                
                    </td>  
                    <td colspan="5">  
                        <textarea #review rows="4" cols="50"></textarea>  
                    </td>                      
                     
                    <td align="center">
                           <select #assessment required>        
                                <option value="satisfied">meets expectations</option>
                                <option value="needs improvement">needs improvement</option>
                           </select>
                                
                    </td>   
                </tr>
                <tr>  
                    <td colspan="3">  
                        <p #review rows="4" cols="50" align="center"></p>  
                    </td>   
                    <td colspan="5">  
                        <textarea #review rows="4" cols="50"></textarea>  
                    </td> 
                    <td align="center">
                        <select #assessment required>        
                             <option value="satisfied">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>  
                 <td colspan="5">  
                     <textarea #review rows="4" cols="50"></textarea>  
                 </td>                      
               
                 <td align="center">
                        <select #assessment required>        
                             <option value="satisfied">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>                        
                     
                    
                </tr>
                <tr> 
                    <td colspan="3">  
                        <p  rows="4" cols="50" align="center">Communication Skills</p>  
                    </td>   
                    <td colspan="5">  
                        <textarea #reviewSelf rows="4" cols="50">{{reviewSelfCS}}</textarea>  
                    </td> 
                    <td align="center">
                        <select #assessmentSelfCS required>        
                             <option value="satisfied">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>  
                 <td colspan="5">  
                     <textarea #reviewReviewer rows="4" cols="50">{{reviewReviewerCS}}</textarea>  
                 </td>                      
               
                 <td align="center">
                        <select #assessmentReviewerCS required>        
                             <option value="satisfied">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>    
                </tr>
                <tr>  
                    <td colspan="3">  
                        <p #review rows="4" cols="50" align="center">Personality</p>  
                    </td> 
                    <td colspan="5">  
                        <textarea  rows="4" cols="50">{{reviewSelfP}}</textarea>  
                    </td> 
                    <td align="center">
                        <select #assessmentSelfP required>        
                             <option value="satisfied">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>  
                 <td colspan="5">  
                     <textarea  rows="4" cols="50">{{reviewReviewerP}}</textarea>  
                 </td>                      
               
                 <td align="center">
                        <select #assessmentReviewerP required>        
                             <option value="satisfied">meets expectations</option>
                             <option value="needs improvement">needs improvement</option>
                        </select>
                             
                 </td>    
                </tr>
                </table>  
                <button (click)=updateReviewDetails()>submit</button>
        <!-- </form> -->
      

                       
    