<nav class="navbar navbar-expand-md bg navbar-dark navbar-fixed-top">
    <div>
        <img src="../../assets/images/cygrp-logo.png" alt="" srcset="" style="width: 4rem; height: 4rem;">
        <a style="color: white; font-weight: bolder; vertical-align: middle;"> HRMS</a>
    </div>
    <a class="navbar-brand user-name">{{firstName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a href="javascript: void(0)" routerLink="home" class="nav-link" active>Home</a>
            </li>
            <li class="nav-item">
                <a href="javascript: void(0)" routerLink="profile" class="nav-link">My Profile</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Employee Operations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="javascript: void(0)" routerLink="employees" class="dropdown-item">View All Employees</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <a href="javascript: void(0)" routerLink="newEmployee" class="dropdown-item">Create New Employee</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <a href="javascript: void(0)" routerLink="review" class="dropdown-item">Create Review</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" (click)="logout()">Logout</a>
            </li>    
        </ul>
    </div>  
</nav>