.user-name{
    margin-left: 3rem;
}
.bg{
    background-color: #000062;
    border-radius: 0;
}

.nav-item{
    margin:0 3rem 0 1rem;    
}

.nav-link{
    color: blue;
}
.dropdown-menu>a:hover{
    background-color: #000062;
    color: white;
    border-radius: 5px;
    
}
.dropdown-menu>a{
    font-family: Roboto, 'serif';
    text-align: center;
    
    padding: 0.6rem 0;
}
.dropdown-menu{
    margin-right: 11rem;
    background-color: #F5F5F6;
    width: 20rem;
    padding: 0;
    border-radius: 0.5rem;

}
