.bg{
    background-color: #000062;
    border-radius: 0;
}
.nav-link, .user-name{
    color: #fafafa;
}

.user-name{
    font-weight: bold;
    font-size: larger;
}

.bg-color{
    border-color: #fafafa;
}