.user-name{
    margin-left: 3rem;
}
.bg{
    background-color: #000062;
    border-radius: 0;
}
.nav-item{
    margin:0 3rem 0 1rem;
}
.nav-link{
    color: white;
}
.nav-link :active{
    color: white;
}