<div class="container">
  <form>
    <div class="wrapper">

      <div class="firstColumn">

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="name" required>
        </div>

        <div class="form-group">
          <label for="cgiCode"> CGI Code</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="aadharNo.">Aadhar Number</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="previousWorkExp">Previous work experience</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>
      
        <div class="form-group">
          <label for="bloodGroup">Blood Group</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="personalEmailId">Personal Email Id</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="dateOfJoining">Date of Joining</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

      </div>

      <div class="secondColumn">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="name" required>
        </div>
  
        <div class="form-group">
          <label for="pancardNumber">Pancard Number</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="passportNumber">Passport Number</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="maritalStatus">Marital Status</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="mobileNumber">Mobile Number</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>
        
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="permanentAddress">Permanent Address</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>
                
      </div>

    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
