<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid" style="max-width:1250px;">
  
<aside class="col-sm-6" >
                

<div class="card-banner  overlay-grad" style="position:absolute; left:230px; height:210px; width:420px; background-image: url('http://bootstrap-ecommerce.com/main/images/posts/1.jpg');">
  <div class="card-body text-white">

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-4 control-label" >Emp Code</label>
          <div class="col-lg-6">
            <input class="form-control input-sm"value="" type="text">{{empCode}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Reviewer Name</label>
          <div class="col-lg-6">
            <input class="form-control input-sm" value="" type="text">{{reviewerName}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Designation</label>
          <div class="col-lg-6">
            <input class="form-control input-sm" value="" type="text">{{rDesignation}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Division Name</label>
          <div class="col-lg-6">
            <input class="form-control input-sm" value="" type="text">{{divisionName}}
          </div>
        </div>
       
        <div class="form-group">
          <label class="col-md-4 control-label">Date of Joining</label>
          <div class="col-md-6">
            <input class="form-control input-sm" value="" type="text">{{rJoined}}
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">CG Experience</label>
            <div class="col-md-6">
              <input class="form-control input-sm" value="" type="text">{{rcgExperience}}
            </div>
          </div>
       
        
      </form>
  </div>
</div> <!-- card.// -->

            </aside>
            <aside class="col-sm-6">
                

                <div class="card-banner  overlay-grad" style="height:210px; width:420px; background-image: url('http://bootstrap-ecommerce.com/main/images/posts/1.jpg');">
                  <div class="card-body text-white">
                  
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-4 control-label">Reviewee Name</label>
          <div class="col-lg-6">
            <input class="form-control input-sm" value="" type="text">{{empName}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">QA'er Name </label>
          <div class="col-lg-6">
            <input class="form-control input-sm" value="" type="text">{{qaerName}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Designation</label>
          <div class="col-lg-6">
            <input class="form-control input-sm" value="" type="text">{{eDsignation}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Review Cycle</label>
          <div class="col-lg-6">
            <input class="form-control input-sm" value="" type="text">{{reviewCycle}}
          </div>
        </div>
       
        <div class="form-group">
          <label class="col-md-4 control-label">Promotion Cycle</label>
          <div class="col-md-6">
            <input class="form-control input-sm" value="" type="text">{{promotionCycle}}
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">CG Experience</label>
            <div class="col-md-6">
              <input class="form-control input-sm" value="" type="text">{{ecgExperience}}
            </div>
          </div>
        
      </form>
  
                  </div>
                </div> <!-- card.// -->

            </aside>
          
        </div>



