<div>
  <app-header></app-header>
</div>

<div class="container reviewer-container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card-banner">
        <div class="card-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Emp Code</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input class="form-control input-sm" [value]="empCode" type="text"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Reviewer Name</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input class="form-control input-sm" [value]="reviewerName" type="text"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Designation</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input class="form-control input-sm" [value]="rDesignation" type="text"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Division Name</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input class="form-control input-sm" [value]="divisionName" type="text"/>
              </div>
            </div>
  
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Date of Joining</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input
                  class="form-control input-sm"
                  [value]="rJoined"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">CG Experience</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input
                  class="form-control input-sm"
                  [value]="rcgExperience"
                  type="text"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-banner">
        <div class="card-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Emp Code</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input class="form-control input-sm" [value]="empCode" type="text"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Reviewer Name</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input class="form-control input-sm" [value]="reviewerName" type="text"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Designation</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input class="form-control input-sm" [value]="rDesignation" type="text"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Division Name</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input class="form-control input-sm" [value]="divisionName" type="text"/>
              </div>
            </div>
  
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">Date of Joining</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input
                  class="form-control input-sm"
                  [value]="rJoined"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 col-md-4 col-xs-12 control-label">CG Experience</label>
              <div class="col-lg-7 col-md-8 col-xs-12">
                <input
                  class="form-control input-sm"
                  [value]="rcgExperience"
                  type="text"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>


