.card-body{
    background-color: #7745f2;
    color: white;
    font: Roboto;
    border-radius: 3px;
    box-shadow: 3px 4px #F5F5F6;
}

.reviewer-container{
    margin-top:4rem;
    
}

.form-group{
    margin: 3px;
}

[readonly]{
    cursor:not-allowed;
}
