<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    
    <div class="panel-body">
        <form>
    <div class="col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
                <label for="name">First Name	</label>
                <input type="text" class="form-control input-sm" #firstName placeholder="">
            </div>

           <div class="form-group col-md-6 col-sm-6">
                <label for="name">Last Name	</label>
                <input type="text" class="form-control input-sm" #lastName placeholder="">
            </div>
       
            <div class="form-group col-md-6 col-sm-6">
                <label for="email">Email</label>
                <input type="email" class="form-control input-sm" #email placeholder="">
            </div>
            <div class="form-group col-md-6 col-sm-6">
                <label for="cgiCode">CGI code</label>
                <input type="email" class="form-control input-sm" #cgiCode placeholder="">
            </div>
    
            <div class="form-group col-md-6 col-sm-6">
                <label for="mobile">Password</label>
                <input type="text" class="form-control input-sm" #password placeholder="">
            </div>

            
        
        <div class="form-group col-md-6 col-sm-6">
                <label for="city">Designation</label>
                <input type="text" class="form-control input-sm" #designation placeholder="">
            </div>
        
        <div class="form-group col-md-6 col-sm-6">
                <label for="state">Division</label>
                <input type="text" class="form-control input-sm" #division placeholder="">
            </div>
    
        <div class="form-group col-md-6 col-sm-6">
                <label for="country">Total Experience</label>
                <input type="text" class="form-control input-sm" #totalExperience placeholder="">
            </div>
    
        <div class="form-group col-md-6 col-sm-6">
                <label for="pincode">Date of Joining</label>
                <input type="text" class="form-control input-sm" #joined placeholder="">
            </div>
    
            <div class="form-group col-md-6 col-sm-6">
                <label for="arrival">Previous Experience</label>
                <input type="text" class="form-control input-sm datepicker" #previousExperience placeholder="">
            </div>
            <div class="form-group col-md-6 col-sm-6">
                <label for="Location">Location</label>
                <input type="text" class="form-control input-sm" #location rows="3">
             </div>
             <div class="form-group col-md-6 col-sm-6">
                <label for="arrival">Skills</label>
                <textarea class="form-control input-sm datepicker" #skills placeholder=""></textarea>
            </div>
            
</div>
    
    <div class="col-md-12 col-sm-12" id="addblock">
        <div class="form-group col-md-3 col-sm-3">
            <input type='button' class="btn btn-primary" value="add"  (click)="createUser()"/>
        </div>
    </div>
    {{message}}
</form>