  body{
    color: grey;
    margin-left: 50vw;
    font: Roboto;
    font-size: medium;
}
.form-control{
    background-color: #eeeeee;
    height: 3vh;
    width: 33vw;
    border-radius: 9%;
    border: hidden !important;
    outline: none;
     }



.required{
    color: #e02222;
    font-size: 12px    
}
.row{
    margin-left: 10vw;
}
label{
    /* font-weight: 1000; */
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
input[type=file]
{
    background-color: white;
    
    
}
input[type=textbox]{
    height: 15vh;
    
    
}
input[type=button]{
    border-radius: 20%;
    background-color: blue;
    color: white;
    border: none;
    margin-left: 75vw;
    
    
}
input [type=textbox]{
    border: none ;
    resize: none;
}
/* form{
    width: 2rem;
} 
 
 #deceased{
    background-color:#FFF3F5;
	padding-top:10px;
	margin-bottom:10px;
}
.remove_field{
	float:right;	
	cursor:pointer;
	position : absolute;
}
.remove_field:hover{
	text-decoration:none;
} */