<div class="container add-user">
    <div class="row">
        <form>
            <div class="col-md-12 col-sm-12">
                <div class="form-group col-md-6 col-sm-6">
                    <label>CGI Code</label>
                    <input type="text" #cgiCode class="form-control input-sm">
                </div>
    
                <div class="form-group col-md-6 col-sm-6">
                    <label >Email</label>
                    <input type="email" #email class="form-control input-sm">
                </div>
    
                <div class="form-group col-md-6 col-sm-6">
                        <label>First Name	</label>
                        <input type="text" #firstName class="form-control input-sm">
                </div>
    
                <div class="form-group col-md-6 col-sm-6">
                        <label>Last Name	</label>
                        <input type="text" #lastName class="form-control input-sm">
                </div>
                
                <div class="form-group col-md-6 col-sm-6">
                    <label >Designation</label>
                    <input type="text" #designation class="form-control input-sm">
                </div>
    
                <div class="form-group col-md-6 col-sm-6">
                    <label >Skills</label>
                    <input type="text" #skills class="form-control input-sm datepicker">
    
                </div>                
                
                <div class="form-group col-md-6 col-sm-6">
                    <label>Address</label>
                    <textarea #location class="form-control input-sm" id="address" rows="5"></textarea>
                </div>
    
    
                <div class="form-group col-md-6 col-sm-6">
                    <label>Total Experience</label>
                    <input type="text" #totalExperience class="form-control input-sm">
                </div>
                
                
                <div class="form-group col-md-6 col-sm-6">
                    <label>Previous Experience</label>
                    <input type="text" #previousExperience class="form-control input-sm datepicker">
                </div>
            </div>
            <div class="col-md-12 col-sm-12" id="addblock">
                <div class="form-group col-md-3 col-lg-offset-5 col-sm-3">
                    <input type='button' class="btn btn-primary" value="Add"  (click)="createUser()"/>
                </div>
            </div>
        </form>
    </div>
</div>


