 <!-- The Modal 2-->
 <div class="modal" id="submitVerficationModel" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
  
        <!-- Modal body -->
        <div class="myFont2">
            <i class="fa fa-check-circle " ></i>
        </div>

        <!-- Modal Header -->
        <div >
            <h1 class="heading" align="center">Added!!</h1>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
  
        
  
      </div>
    </div>
  </div>


  <!-- The Modal 3-->
  <div class="modal" id="submitModel">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are you sure?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to add employee? 
        </div>
       <!-- Modal footer -->
       <div class="modal-footer">
         <button type="button" class="btn btn-danger button1" data-dismiss="modal">Cancel</button>
         <button type="button" class="btn btn-success button2" data-toggle="modal" data-target="#submitVerficationModel" data-dismiss="modal" (click)="submitReviewDetails()">Submit</button>
       </div>
        
  
      </div>
    </div>
  </div>
<div class="panel-body">
  
        <form>
            <div class="col-md-12 col-sm-12">
                <div class="form-group col-md-6 col-sm-6">
                    <label>CGI Code</label>
                    <input type="text" #cgiCode class="form-control input-sm">
                </div>
    
                <div class="form-group col-md-6 col-sm-6">
                    <label >Email</label>
                    <input type="email" #email class="form-control input-sm">
                </div>
    
                <div class="form-group col-md-6 col-sm-6">
                        <label>First Name	</label>
                        <input type="text" #firstName class="form-control input-sm">
                </div>
    
                <div class="form-group col-md-6 col-sm-6">
                        <label>Last Name	</label>
                        <input type="text" #lastName class="form-control input-sm">
                </div>
                
                <div class="form-group col-md-6 col-sm-6">
                    <label >Designation</label>
                    <input type="text" #designation class="form-control input-sm">
                </div>
    
                <div class="form-group col-md-6 col-sm-6">
                    <label >Skills</label>
                    <input type="text" #skills class="form-control input-sm datepicker">
    
                </div>                
                
                <div class="form-group col-md-6 col-sm-6">
                    <label>Address</label>
                    <textarea #location class="form-control input-sm" id="address" rows="5"></textarea>
                </div>
    
    
                <div class="form-group col-md-6 col-sm-6">
                    <label>Total Experience</label>
                    <input type="text" #totalExperience class="form-control input-sm">
                </div>
                
                
                <div class="form-group col-md-6 col-sm-6">
                    <label>Previous Experience</label>
                    <input type="text" #previousExperience class="form-control input-sm datepicker">
                </div>
            </div>
            <div class="col-md-12 col-sm-12" id="addblock">
                <div class="form-group col-md-3 col-lg-offset-5 col-sm-3">
                    <input type='button' class="btn btn-primary" value="Add"  (click)="createUser()"/>
                </div>
            </div>

            <div class="col-md-12 col-sm-12" id="addblock">
                <div class="form-group col-md-3 col-lg-offset-5 col-sm-3">
                    <input type='button' class="btn btn-primary" value="Add" data-toggle="modal" data-target="#submitModel" data-dismiss="modal" (click)="createUser()"/>
                </div>
            </div>

        </form>
    </div>
</div>


