.page-header{
    height: 4rem;
}
.navbar{
    color: white;
    background-color: #000062;
    border-radius: 0;
}
.header-profileImage{
    width: 4rem;
    height: 4rem;}
.bg{
    background-color: #000062;
    border-radius: 0;
}
.nav-link, .user-name{
    color: #fafafa;
}

.user-name{
    font-weight: bold;
    font-size: larger;
}