<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container page-header">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
            <a href="/employeedetail">
                <img class="header-logo" src="../assets/images/cg-logo.png" alt="logo" >
                
            </a>
    </div>
  
    <!-- <div>
        <ul class="nav navbar-nav pull-right">
            <li >
                <a href="">
                        <!-- <img alt="" class="img-circle header-profileImage" src="../assets/images/avatar.jpg"> -->
                        <!-- <span class="username username-hide-mobile">Faizan Akhtar</span>
                </a>
            </li> 
        </ul>
    </div> --> 
  </div>
  
  
  <div>
    <nav class="navbar navbar-inverse" id="navbar">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Faizan Akhtar</a>
          </div>
          <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
        
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile &#x25BC; </a>
                    <div class="dropdown-menu" >
                      <a class="dropdown-item" href="#">My Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">My Project Hierarchy</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Manage Resume</a>
                    </div>
                  </li>
                 
                  <li><a href="#"> Personal Time Off</a></li>
  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Review &#x25BC; </a>
                    <div class="dropdown-menu" >
                      <a class="dropdown-item" href="#">My Review</a>
                    </div>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span onclick="logoutFunc()" class="glyphicon glyphicon-user"></span> Logout</a></li>
                </ul>
            </div>
          </div>
        </div>
    </nav>
  </div>
  <div class="employee-details">
      <h4>&#x26F9; EMPLOYEE DETAILS</h4>
      <br>
  </div>
  <router-outlet></router-outlet>
  
  