.page-header{
    height: 4rem;
}
.header-profileImage{
    width: 4rem;
    height: 4rem;
}
.header-logo{
    width: 22rem;
    height: 4rem;
}
.user-list{
    font-size: 50px;
    font-family:"Open Sans", sans-serif;
    margin-left: 35%;
    color: black;
}
.logo-img{
    width: 75px;
    height: 75px; 
}