<div class="container admin-div">
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType">
            </canvas>
            <h3 class="text-center">Pie Review Projection</h3>
        </div>
        <div class="col-md-1 review-chart-gap">
    
        </div>
        <div class="col-md-4 offset-md-1">
            <canvas baseChart
                [datasets]="barChartData"
                [labels]="pieChartLabels"
                [legend]="barChartLegend"
                [colors]="chartColors"
                [options]="barChartOptions"
                [chartType]="chartType">
            </canvas>
            <h3 class="text-center">Graph Data Projection</h3>
        </div>
    </div>
</div>
