<div class="row" style="margin-top: 10rem;">
    <div class="col-md-4 offset-md-1">
        <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType">
        </canvas>
        <h3 class="text-center">Pie Review Projection</h3>
    </div>
    <div class="col-md-4 offset-md-2">
        <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="chartType">
        </canvas>
        <h3 class="text-center">Graph Data Projection</h3>
    </div>
</div>
<!-- <h3 class="text-center">Review Data Projection</h3> -->