.out-div{
    margin-top: 6.6rem;
}

#search{
    background-image: url('../../assets/images/search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    color: #000062;
    font-family: Roboto, Serif;
    padding: 10px 10px 10px 30px;
    border: 0;
    outline: none;
    width: 34rem;
    box-shadow: 1px 1px #000062;
    border-radius: 25px;
    background-color: #f5f5f6;
}

.search-row, .pagination-row{
    display:flex;
    justify-content:center;
}

.edit-data{
    cursor: pointer;
}

.edit-data:hover{
    transform: scale(1.05);
}

span{
    color: #000062;
}

.panel-info{
    border: 0;
}

.out-div{
    height: 40rem;
}

.row{
    cursor: pointer;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
