.bg{
    background: url('https://www.cygrp.com/wp-content/uploads/2019/06/banner-bg.jpg') no-repeat;
    width: 100%;
    height: 100vh;
}

.brand-name{
    text-align: center;
    font-size: 5rem;
    line-height: 12rem;
    font-family: Roboto;
    color: #F36E2E;
}

.panel{
    border-radius: 10px;
    border: 0px; 
    background-color:#F5F5F6;
    
}
.panel > .panel-heading{
    border-radius: 10px 10px 0 0;
    background-color:#6745C2;   
}
.panel > .panel-heading h5{
    font-size: large;
    text-align: center;
    color: white;
    font-family: Roboto;   
}
.panel-body{
    padding: 10px 20px 40px;
}
.input-group{
    margin-bottom: 3rem;
}
.input-group-addon{
    border-radius: 10px; 
    background-color: white;
    
}
.form-control{
    border-radius: 10px;
    border-left: none;
}
.form-control:focus {
    border-color: #CCCCCC;
    box-shadow: none;
       
  }

#loginBtn{
    
    color: white;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
    background-color: #6745C2;
}
.logo-img{
    width: 10rem; 
    margin: auto;
    
}