<div class="container">
    <div class="row  company-logo">
        <strong>CyberGroup</strong>
    </div>
    
</div>
<div class="container-fluid">
    <div class="row" id="lgn">
        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>Login to your account</h5>	
              </div>
              <div class="panel-body">
              <img class="logo-img" src="https://media-exp1.licdn.com/dms/image/C4D0BAQFSk7W1KUiG0w/company-logo_200_200/0?e=2159024400&v=beta&t=dToUex9P08LphNIkkj5aT6ZhSC17M8orhdt784fwwjE">
              <form class="form-horizontal" action="\">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input #email type="text" class="form-control" name="email" placeholder="abc@xyz.com" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input #password type="password" class="form-control" name="email" placeholder="abc@xyz.com" required="required">
                        </div>
                    </div>
                    <div>
                        <input type="button" value="Log In" (click)="checkUser()" id="loginBtn" class="btn btn-primary">
                    </div>
              </form>      
              </div>
            </div>
        </div>
    </div>
</div>
