table { 
    // border: 1px solid black; 
    border-collapse: collapse; 
    // padding: 6px; 
    width: 100%; 
}

td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  tr:nth-of-type(odd) { 
    background: #f5f5f6;
}

tr:nth-of-type(even) {
    background: #e1e2e1; 
}

p{
    background-color: white;
    color: black;
}

#headers{
    
    // height: 10vh;
    font-size: medium;
    background-color: #311a91;
    color: white;
    // font-weight: bold;
    text-align: center;
    
}

textarea{
    border: hidden;
    outline: none;
    resize: none;
    color: black;
    background-color:#f5f5f6;
    text-align: center;
}

select{
    background-color: #f5f5f6;
}
p{
    background-color: #f5f5f6;
}

button{
    background-color: #000062;
    color: white;
    border-radius:4px;
    border: none;
    margin-left: 1.4rem;
    // margin-top: 2rem;
    // margin-right: 1rem;
    // font-weight: bold;
    padding: 0.5rem;
    width: 10rem;

}

.buttons{
    position: absolute;
    display: flex;
    margin-left: 4rem;
}
select{
    color: black;
}

table{
    position: relative;
    margin: auto;
    border-radius: 50%;
}

// #review{
//     border: hidden;
// }


th { 
   background: #311a91; 
   color: white; 
   font-weight: bold; 
       }


// table, th, td { 
//     border: 7px solid white; 
//     border-collapse: collapse; 
//     padding: 6px; 

// } 

// table{
//     width: 100%;
//     background-color: lightgray;
    
// }

// textarea{
//     border: hidden;
//     outline: none;
//     resize: none;
// }
// .form{
//     padding: 4em 5em;
// }

// .buttons{
//     display: flex;
//     align-items: right !important;
//      padding: 1rem ;
     
// }

// button{
//     /* padding: 1rem 1rem 0 1rem; */
//     font-weight: bold;
//     background-color: lightgray !important; 
//     margin-left: 1rem;
//     margin-right: 1rem;
//     border: none;
// }

// select{
// width: 17rem;
//    height: 3rem;
// }



textarea{
   width: 96rem;
}


.selected{
    display: none;
}

@media only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
    }
    textarea{
        width: -webkit-fill-available;
    }
    select{
        width: -webkit-fill-available;
        
        margin: auto;
    }
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
        left: -9999px;
        background-color: #311a91;

	}
	
    tr { border: 1px solid #ccc; 
        margin-bottom: 5rem;}
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Key Result Area"; }
	td:nth-of-type(2):before { content: "Self Evaluation"; }
	td:nth-of-type(3):before { content: "Self Assessment"; }

        }

        .model{
            height: 17rem;
        }

        .myFont{
            font-size: 6rem;
            color: #6745C2;
            align-self: center;
            position: absolute;
            bottom: 9rem;
            font-family: Roboto;
        }

        .myFont2{
            font-size: 6rem;
            color: green;
            align-self: center;
            position: absolute;
            bottom: 9rem;
            font-family: Roboto;
            
        }

        .heading{
            // font-weight: bold;
            margin-top: 5rem;
            font-family: Roboto;
            
        }

        .modal-body{
            font-family: Roboto;

        }

        .modal-content{
            position: relative;
        }

        .modal-header{
            background-color: #311a91 ;
            height: 5rem;
        }

        .modal-title{
            color: white;
            font-family: Roboto;
        }

        // .close{
        //     position: absolute;
        //  top: 0rem;
        // right: 2rem;
        // }

        // .button1{
        //     background-color:  #dc3545 !important;
        // }

        // .button2{
        // background-color:#28a745 !important ;
        // }