<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" *ngFor = "let elem of keys">{{elem}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let row of reviewArray | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>{{row.FormName}}</td>
            <td>{{row.Cycle}}</td>
            <td>{{row.TargetDate}}</td>
            <td>{{row.Status}}</td>
            <td>{{row.CreatedAt}}</td>

            <!-- row.Edit contains _id of each employee-->
            <td [routerLink]="[toJump, row.Edit]"><img src="../../assets/images/edit-btn.png"></td>
        </tr>
    </tbody>
    
</table>
<div class="pagination-div"><ngb-pagination  [collectionSize]="reviewArray.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>
<router-outlet></router-outlet>