<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" *ngFor = "let elem of keys">{{elem}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let row of reviewArray">
            <td>{{row.FormName}}</td>
            <td>{{row.Cycle}}</td>
            <td>{{row.TargetDate}}</td>
            <td>{{row.Status}}</td>
            <td>{{row.CreatedAt}}</td>

            <!-- row.Edit contains _id of each employee-->
            <td [routerLink]="[toJump, row.Edit]"><img src="../../assets/images/edit-btn.png"></td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>