
.review-table{
    margin-top: 1rem;
}
i:hover{
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}
i{
    color: #000062;
}
th, td{
    text-align: center;
}
th{
    background-color: #F5F5F6;
}

table{
    overflow: scroll;
}




.pagination-div{
    display: flex !important;
    justify-content: center ;

}


.pagination {
    
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    align-items: center;
    
}
.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

// #pageNo{
//     display: none;
//     visibility: hidden;
// }

